@page "/"

<PageTitle>Index</PageTitle>

<main>
    <div class="container text-center mt-5">
        <h1>Bem-vindo à Plataforma de Admissão de Doentes</h1>
        <p class="lead">
            Esta plataforma inovadora oferece uma solução abrangente para o registo, gestão e acompanhamento de consultas médicas. Desenvolvida utilizando tecnologias de ponta, a plataforma foi projetada para fornecer uma experiência intuitiva e eficiente tanto para profissionais de saúde quanto para pacientes.
        </p>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Registar Doentes</h4>
                        <p class="card-text">
                            Com o recurso de registo de doentes, você pode facilmente inserir informações cruciais, como nome, data de nascimento e sexo. Estes dados são essenciais para criar perfis precisos de pacientes, permitindo uma gestão eficiente ao longo do tempo.
                        </p>
                        <NavLink class="btn btn-primary" href="registro-doente">Registar Doente</NavLink>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Gerir Consultas</h4>
                        <p class="card-text">
                            A funcionalidade de gerenciamento de consultas permite agendar e monitorar consultas médicas com facilidade. Você pode registar detalhes importantes, como especialidade e data da consulta, facilitando o planejamento e a organização das atividades médicas.
                        </p>
                        <a href="Adicionar-consulta" class="btn btn-primary">Agendar Consulta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 text-center">
        <p>
            Esta plataforma foi construída com base nas tecnologias ASP.NET 6 e Blazor.NET 6, garantindo um desempenho excecional e uma experiência de usuário moderna.O Nosso compromisso com a qualidade estende-se ao uso de base de dados SQLite, que oferece confiabilidade e eficiência na gestão dos dados de doentes e consultas.
        </p>
        <p>
            Projetou-se cuidadosamente cada aspecto da plataforma, garantindo a facilidade de uso para profissionais de saúde e a segurança dos dados sensíveis dos pacientes. Estaremos ansiosos para receber o feedback dos avaliadores <u>fcosta@sti.pt e htpinto@sti.pt</u> e continuar a aprimorar e expandir a plataforma para atender às necessidades clínicas.
        </p>
    </div>
</main>
